@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto:ital,wght@0,100;0,400;1,100;1,400&display=swap');
    
:root {
    --color-accent: rgb(255, 105, 180);
    --color-accent-lightest:  rgb(255, 105, 180, 0.2);
    --color-text: black;
    --color-accent-2: rgb(0, 206, 209);
    --color-accent-2-lightest: rgb(0, 206, 209, 0.2);
    --font-family-heading: 'Concert One', cursive;
    --font-family-body: 'Roboto', sans-serif;
    --color-accent-3: rgb(255, 215, 0);
    --color-accent-3-lightest: rgb(255, 255, 0, 0.2);
}

body {
    font-family: var(--font-family-body);
    color: #000;
}

*, * * {
    line-height: 1.2em;
}

h1, h2, h3, h4 {
    font-family: var(--font-family-heading);
    color: var(--color-accent);
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0;
}

p {
    margin-bottom: 1em;
}

strong {
    font-weight: 400;
}

.container {
    margin: 2%;
    max-width: 1920px;
    border-radius: 50px;
    border: 1px solid var(--color-accent);
    background: var(--color-accent-lightest);
    padding: 2%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

section {
    border-radius: inherit;
    border: 1px solid var(--color-text);
    background: white;
    padding: 4%;
    margin-bottom: 4%;
}

blockquote p {
    position: relative;
}

blockquote p::before,  
blockquote p::after {
    font-size: 3em;
    font-family: var(--font-family-heading);
    color: var(--color-accent-lightest);
    position: absolute;
}

blockquote p::before {
    content: '\201C';
    left: -40px;
    top: 0;
}

blockquote p::after {
    content: '\201D';
    bottom: -20px;
    margin-left: 10px;
}

blockquote span {
    font-family: var(--font-family-heading);
    display: inline-block;
    margin-right: 20px;
    font-size: smaller;
}

button, a {
    border-radius: 10px;
    border: 1px solid var(--color-accent-2);
    background: var(--color-accent-2-lightest);
    color: var(--color-accent-2);
    text-transform: uppercase;
    font-family: 'concert one';
    padding: 5px 20px;
    cursor: pointer;
    display: inline-block;
}

button:hover,
a:hover {
    background: white;
}

a {
    border: 1px solid var(--color-accent-3);
    background: var(--color-accent-3-lightest);
    color: var(--color-accent-3);
    text-decoration: none;
}